asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
mssql-django 
pyodbc
python-dotenv
openpyxl
reportlab
gunicorn
psycopg2-binary
dj-database-url
django-extensions
django-filter